@page
@model Moment1.Pages.AboutModel
@{
}
<div class="text-left">
    <h1 class="rubrik">Om sidan</h1>

    <p class="infoText">
        Ja, detta var kul men svårt. Jag har suttit och pillat på koden hur länge som helst.
        Jag hade behövt mer tid för att förstå allt.
    </p>
    <p class="infoText">
        Jag borde inte ha blandat in bootstrap då jag aldrig använt det tidigare. En blir ju knäpp!
    </p>


</div>